@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    text-align: center;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}